.content {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  margin: auto;
  max-height: 90%;
  max-width: 90%;
  background: var(--dark_blue);
  border-radius: 0.7rem;
}
#linha-horizontal {
  width: 83%;
  border: 1px solid  var(--Very_blue);
  margin: 1rem;
}
.avatar{
  display: flex;
  align-items: center;
  justify-content:left;
  width: 90%;
  margin-bottom: 1rem;
}

.avatar p .color-white:hover {
  color: var(--Cyan);
  cursor: pointer;
}
.avatar img {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem ;
  border:1px solid white;
  border-radius: 1rem;
}