@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
:root{
  --Very_dark_blue: hsl(217, 54%, 11%);
  --dark_blue: hsl(216, 50%, 16%);
  --Very_blue: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

body {
  font-family: 'Outfit', 'sans-serif';
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;
}
html {
  scroll-behavior: smooth;
}
*, body,h1,h2,h3{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
  background-color: var(--Very_dark_blue);
}
ul {
  list-style: none;
}
button {
  border: none;
  font-family: inherit;
}



.attribution { 
  display:none;
  font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

